/build
/dist
/efel.egg-info
/build_cmake
/build.sh.lviz
*.pyc
/build.sh
/pyenv
/.python-version
/.tox
/.coverage
.vscode
*.so
coverage.xml
cpp_coverage.xml
docs/bin
docs/lib
docs/source/lib
bin
*.tox-info.json
*.ipynb_checkpoints
lib
fllog.txt
*.DS_Store
