language: python
install: pip install pip --upgrade
matrix:
    include:
        - python: 2.7
        - python: 3.6
        - python: 3.7
        - python: 3.8
          dist: xenial
          sudo: required
script: tox -e "$(echo py$TRAVIS_PYTHON_VERSION | tr -d .)-style-test"
notifications:
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/8ae38b9a790ed3e31c7a
    on_success: change
    on_failure: change
    on_start: false
git:
  depth: 2147483647
cache:
  directories:
  - $HOME/.cache/pip
